@import "~leaflet/dist/leaflet.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 90vh;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

floating-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.popup-card {
  padding: 8px 4px;
  text-align: left;
}

.popup-card h3 {
  margin: 0 0 6px 0;
  font-size: 16px;
  font-weight: 700;
}

.popup-card p {
  margin: 0;
  font-size: 13px;
}


