/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';



/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

/* ==== BOTÕES DO LEAFLET DRAW - ÍCONES PERSONALIZADOS ==== */

/* Tamanho base */
.leaflet-draw-toolbar a {
  width: 40px !important;
  height: 40px !important;
  background-size: 22px 22px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 8px !important;
  background-color: #ffffff !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.leaflet-draw-actions{
margin-left: 10px !important;
}

.leaflet-draw-toolbar {
  border: none !important;
}

/* Marker */
.leaflet-draw-draw-marker {
  margin: 5px 0px 5px 0px !important;
  background-image: url("assets/draw-icons/marker_world.svg") !important;
}

/* Polygon */
.leaflet-draw-draw-polygon {
  margin: 5px 0px 5px 0px !important;
  background-image: url("assets/draw-icons/polygon.svg") !important;
}

/* Polyline */
.leaflet-draw-draw-polyline {
  margin: 5px 0px 5px 0px !important;
  background-image: url("assets/draw-icons/polyline.svg") !important;
}

/* Rectangle */
.leaflet-draw-draw-rectangle {
  margin: 5px 0px 5px 0px !important;
  background-image: url("assets/draw-icons/rectangle.svg") !important;
}

/* Circle */
.leaflet-draw-draw-circle {
  margin: 5px 0px 5px 0px !important;
  background-image: url("assets/draw-icons/circle.svg") !important;
}


/* circle marker */
.leaflet-draw-draw-circlemarker {
  margin: 5px 0px 5px 0px !important;
  background-image: url("assets/draw-icons/circle-marker.svg") !important;
}

/* Edit */
.leaflet-draw-edit-edit {
  margin: 2px 0px 2px 0px !important;
  background-image: url("assets/draw-icons/edit.svg") !important;
}

/* Delete */
.leaflet-draw-edit-remove {
  margin: 2px 0px 2px 0px !important;
  background-image: url("assets/draw-icons/delete.svg") !important;
}