<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GeoLoc
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- 🔎 SEARCH BAR SOBRE O MAPA -->
  <div class="map-search-container">
    <ion-item lines="none" class="search-box">
      <ion-input
        placeholder="Pesquisar localização..."
        type="text"
        clear-input="true"
        #searchInput
      ></ion-input>

      <ion-button
        class="search-btn"
        fill="clear"
        size="large"
        (click)="onSearchTextChange(searchInput.value)">
      <ion-icon name="search-outline" ></ion-icon>
      </ion-button>
    </ion-item>
  </div>
  <div id="container">
    <app-leaflet-map
      [searchQuery]="searchText"
     
      ></app-leaflet-map>
  </div>
</ion-content>
